.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background: linear-gradient(to bottom,
      var(--blue) 15%,
      var(--blueHalfOpacity)),
    repeating-linear-gradient(-45deg,
      transparent,
      transparent 10px,
      var(--darkBlueHalfOpacity) 10px,
      var(--darkBlueHalfOpacity) 30px);
}