.container {
  display: grid;
  grid-template-columns: 80px 20px 80px 20px 80px;
  justify-content: center;
  align-items: center;
}

.comboOperator {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}