.buildPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1px;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.section {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 1px;

  h2 {
    color: white;
    margin: 30px 0 5px;
    text-align: center;
  }
}

.basicWeapons {
  flex: 1 1 30%;
}

.allCollabs {
  flex: 1 1 45%;
}

.availableCollabs {
  flex: 1 1 25%;
}