.buildPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1px;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.section {
  padding: 0 1px;

  h2 {
    margin: 0;
    font-size: 20px;
    color: white;
    line-height: 50px;
    text-align: center;
  }
}

.basicWeapons {
  flex: 1 1 33.33%;
}

.collabs {
  flex: 1 1 66.66%;
}