:root {
  // Colors
  --blue: #4abef9;
  --blueHalfOpacity: #4abef980;
  --pink: #ff9ec6;
  --darkerPink: #ff8ebc;
  --darkBlue: #21546f;
  --darkBlueHalfOpacity: #21546f80;

  // Sizes
  --spriteLabelOverflow: 12px;
  --spriteLabelHeight: 24px;
  --navbarHeight: 50px;

  // Spacing
  --spacingContent: 5px;
}

html,
#root,
body {
  font-size: 10px;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--blue);
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}


* {
  box-sizing: border-box;
  font-family: monospace;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.highlight {
  color: #bcff5c;
  font-weight: bold;
}

.table-cell-min-content {
  width: 1%;
  white-space: nowrap;
}